div {
  font-size: 1.3rem;
  font-weight: bold;
}

.red{
  color:red;
}

a {
  text-decoration:none;
  color:inherit;
}

body > h1 {
  text-align: center;
  font-size:5rem;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:-10px;
}

nav  {
  text-align: center;
  display: block;
  font-weight: bold;
} 

nav > div {
  display: inline-block;
  width:120px;
}

nav > div > a {
  display: block;
}

nav > div:hover > a {
  background-color: black;
  color:white;
}